@font-face {
    font-family: Clip;
    src: url(../fonts/clip.ttf);
}

@font-face {
  font-family: ArchivoBlack;
  src: url(../fonts/archivo-black-regular.ttf);
}


@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


html{
  scroll-behavior: smooth;
}

:root{
  --max-width-main: 1920px;
  --min-width-main: 1200px;
  --main-color: #1a1a22;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1a1a22;
}

#main{
    position: relative;
    margin: 0 auto;
    max-width: var(--max-width-main);
    min-width: var(--min-width-main);
    overflow: hidden;   
}

.content{
    position: relative;
    margin: 0 auto;
}    

.content .wrapper{
    margin: 0 auto;
    width: 100%;
    /* max-width: 1340px; */
    max-width: 1400px;
    min-width: 1200px;
    /* overflow: hidden; */
}

/* start section-one */


.wrapper .section-one{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.wrapper .section-one .background{
    position: absolute;
    width: var(--max-width-main);
    height: 100%;
    margin-left: -290px;
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg,black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}


/* title-text */

.section-one .title-text{
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
  
  
  
.title-text .sign {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
        ellipse 50% 35% at 50% 50%,
        #6b1839,
        transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 5em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}
  
.sign .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}
  
.sign .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}
  
  /* end title-text */




.section-one .go-button{
    position: relative;
     width: 74px;
    height: 40px;
    top: 75%;
    left: 50%; 
    cursor: pointer;
    transform: translate(-50%, -50%);
}

/* .section-one .go-button h1{
  margin: 0;
}
 */
/* 
.a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

 */

/* end section-one*/


/* section-two start */

.content .section-two{
    position: relative;
    width: 100%;
    height: 100vh;
}


/* start img-birth-1-3 */


.section-two .img-birth-1-3{
  position: absolute;
  width: 225px;
  height: 246px;
  border: 5px solid white;
  transform-origin: center -20px;
  animation: swingImg 2s ease-in-out infinite alternate;
}

.section-two .img-birth-1{
  top: 30%;
  left: 10%;
}

.section-two .img-birth-3{
  top: 30%;
  right: 10%;
}

.section-two .img-birth-1-3::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  top: -12px;
  left: 47%;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

.section-two .img-birth-1-3::before{
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: -17px;
  left: 50%;
  border-radius: 50% 50%;
  background: #fff;
}

.img-birth-1-3 .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.section-two .img-birth-1-3 .block
{
    position: relative;
    width: 2vw;
    height: 2vw;
    background: url(../img/cake2b.png);
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    background-position: center; 
    transform-style: preserve-3d;
    /* border: 1px solid black; */
}

.section-two .img-birth-1-3 img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: left;
}

.section-two .img-birth-1-3 .disappear{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  overflow: hidden;
}

.img-birth-1-3 .disappear:hover img:nth-child(1){
  transition: 5s;
  transform: translateX(50px);
  opacity: 0;
  filter: blur(10px);
}


.section-two .img-birth-1-3 img:nth-child(2){
  position: absolute;
  width: 800px;
  height: 400px;
  transform: translateX(0px) scaleX(0);
}

.img-birth-1-3 .disappear:hover  img:nth-child(2){
  transition: 8s;
  transform: translateX(100px) scaleX(1) scaleY(2);
  opacity: 0;
}


/* end img-birth-1-3 */

/* start img-birth-2 */


.section-two .img-birth-2{
  position: absolute;
  top: 10%;
  right: 34%;
  width: 450px;
  height: 270px;

  
  background: url(../img/4.jpg);/*../img/question_mark.jpg*/
    background-size: cover;
    background-position: center;
    
    
  border: 5px solid white;
  /* overflow: hidden; */
}


.section-two .img-birth-2 .image-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 1000px;
  object-fit: cover;
}


.section-two .img-birth-2 .block
{
    position: relative;
    width: 20px;
    height: 20px;
    background: url(../img/4.jpg);/*../img/question_mark.jpg*/
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    object-fit: cover;
    transform-style: preserve-3d;
}



/* end img-birth-2 */


.section-two .img-box{
    position: relative;
    left: 47%;
    top: 60%;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    /* animation: imgbox 20s linear infinite; */
}


.img-box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent,#0004);
}

.img-box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section-two end */



/* section-three start */

.content .section-three{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three .square-fly{
  position: absolute;
  animation: animateDream 5s linear infinite;
  transition: 5s ease-in-out;
}

.section-three .go-right{
  position: absolute;
  width: 74px;
  height: 40px;
  top: 0;
  left: 0;
  margin-top: 25px;
    margin-left: 25px;
  cursor: pointer;
}

.card-birth{
    position: relative;
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
  
  .card-birth .text-bold{
    color:red;
  }
  
  #card-front {
    color: #FFDFDF;
    z-index: 10;
  }
  
  #card, #card-front, #card-inside {
    /* height: 580px; */
    height: 100%;
  
  }
  
  .wrap {
    padding: 1.5em 2.5em;
    height: 100%;
  }
  
  #card-front, #card-inside {
    width: 50%;
    -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
  }
  
  #card-inside .wrap {
    padding: 1.5em 2em;
    background: #FFEFEF;
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
  }
  
  #card {
    /* width: 660px; */
    width: 100%;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 5000px;
            perspective: 5000px;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  #card h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-size: 35px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15), 1px 1px 0 #ffc8c8, 2px 2px 0 #ff9696, 3px 3px 0 #ff7d7d;
    color: #FFF;
  }
  
  #card-inside {
    font-size: 1em;
    line-height: 0.3;
    font-family: 'Lobster';
    color: #331717;
    font-style: italic;
    overflow: hidden;
  }
  
  .card-birth p {
    margin-top: 1em;
  }
  
  .card-birth p:first-child {
    margin-top: 0;
    margin-bottom: 25px;
  }
  
  .card-birth p.signed {
    margin-top: 1em;
    line-height: 1.2;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 0.9em;
  }
  
  #card-front {
    background-color: #ee9ca7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF5555), to(#FF7777));
    background-image: linear-gradient(top, #FF5555 0%, #FF7777 100%);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 1s linear;
    transition: -webkit-transform 1s linear;
    transition: transform 1s linear;
    transition: transform 1s linear, -webkit-transform 1s linear;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 5000px;
            perspective: 5000px;
  }
  
  
  #card-front .wrap .trumpet-birth{
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 150px !important;
    height: 150px !important;
    z-index: 1;
  }
  
  #card-front .wrap .round-light{
    position: absolute;
    right: 6%;
    bottom: 11%;
    width: 100px !important;
    height: 100px !important;
    z-index: 1;
  }
  
  #card-front .wrap .action{
    visibility: hidden;
    transition: 1s ease-in-out;
  }
  
  #card-front::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #444;
    -webkit-transform: translateZ(-1px);
            transform: translateZ(-1px);
  }
  
  #card-front .wrap {
    -webkit-transition: background 1s linear;
    transition: background 1s linear;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  #card-front button {
    position: absolute;
    bottom: 1em;
    right: -11px;
    background: #F44;
    color: #FFF;
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    padding: .4em;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  }
  
  [data-balloon][data-balloon-length='medium']::after{
    /* display: none;
    visibility: hidden; */
    white-space: normal;
    width: 100px;
  }
  
  [data-balloon]::after{
    font-size: 10px !important;
  }
  
  .card-front_inside .polaroid .img-lol{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  
  
  #card-front button:hover [data-balloon][data-balloon-length='medium']::after{
    /* display: inline; */
    visibility: visible;
  }
  
  #close [data-balloon][data-balloon-length='medium']::after{
    transform: rotate(180deg);
  }
  
  #card-front button:hover,
  #card-front button:focus {
    background: #F22;
  }
  
  #close {
    display: none;
  }
  
  #card.open-fully {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  
  #card.open-fully #close,
  #card-open-half #close {
    display: inline;
  }
  
  #card.open-fully #open {
    display: none;
  }
  
  #card.open-half #card-front,
  #card.close-half #card-front {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  
  #card.open-half .shadow {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #card.open-fully #card-front,
  #card.close-half #card-front {
    background: #FFEFEF;
  }
  
  #card.open-fully #card-front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  
  #card.open-fully .shadow {
    background-color: rgba(0, 0, 0, 0);
  }
  
  footer {
    max-width: 500px;
    margin: 40px auto;
  font-family: 'Lobster', cursive;
    font-size: 14px;
    line-height: 1.6;
    color: #888;
    text-align: center;
  }
  
  .cake_and_velas {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
  #cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
  }
  
  .velas {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 390px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 8px;
    height: 55px;
    transform: translateY(-350px);
    backface-visibility: hidden;
    animation: in 500ms 5s ease-out forwards;
  }
  
  .velas:after,
  .velas:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 3.22222222px;
  }
  
  .velas:after {
    top: 25%;
    left: 0;
  }
  
  .velas:before {
    top: 50%;
    left: 0;
  }
  
  
  /* ============================================== Fire
  */
  .fuego {
    border-radius: 100%;
    position: absolute;
    top: -29px;
    left: 40%;
    margin-left: -2.6px;
    width: 8.66666667px;
    height: 25px;
  }
  
  .fuego:nth-child(1) {
    -webkit-animation: fuego 2s 5.5s infinite;
            animation: fuego 2s 5.5s infinite;
  }
  
  .fuego:nth-child(2) {
    -webkit-animation: fuego 1.5s 5.5s infinite;
            animation: fuego 1.5s 5.5s infinite;
  }
  
  .fuego:nth-child(3) {
    -webkit-animation: fuego 1s 5.5s infinite;
            animation: fuego 1s 5.5s infinite;
  }
  
  .fuego:nth-child(4) {
    -webkit-animation: fuego 0.5s 5.5s infinite;
            animation: fuego 0.5s 5.5s infinite;
  }
  
  .fuego:nth-child(5) {
    -webkit-animation: fuego 0.2s 5.5s infinite;
            animation: fuego 0.2s 5.5s infinite;
  }

  .text {
    color: #8b6a60;
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-style: italic;
    text-align: center;
  }
  .text h1 {
    font-size: 1.4em;
  }
  
  .card-front_inside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    width: 80%;
    margin: auto;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(-1px) rotateY(180deg);
            transform: translateZ(-1px) rotateY(180deg);
    background-color: #ffefef;
  }
  
  .text-letter .letter{
    position: relative;
    display: inline-block;
  }


  .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateZ(-2px) rotateY(180deg);
            transform: translateZ(-2px) rotateY(180deg);
    pointer-events: none;
    -webkit-transition: background 1s linear;
    transition: background 1s linear;
  }
  
  .polaroid {
    width: 100%;
    height: 300px;
    position: absolute;
    float: left;
    background: #777674;
    border: 7px solid #f5f5f5;
    border-bottom: 50px solid #f5f5f5;
    -webkit-box-shadow: 0 0 6px -1px #000;
            box-shadow: 0 0 6px -1px #000;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    clear: both;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .polaroid img,
  .polaroid .img {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-position: center;
    background-size: cover;
    -webkit-animation: fade-in 20s ease-in;
            animation: fade-in 20s ease-in;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }


/* section-three end */


/* section-four start */

.content .section-four{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section-four .square-fly{
  position: absolute;
  z-index: 0;
  animation: memoryImg 5s linear infinite;
  transition: 5s ease-in-out;
}

@keyframes memoryImg {
  0%{
    opacity: 0;
    transform: translate(0);
  }

  30%{
    opacity: 1;
    /* transform: translateY(-5px); */
  }

  55%{
    opacity: 0.8;
    transform: translateY(-5px);
  }

  100%{
    opacity: 0;
    transform: translateX(20px);
    transform-origin: left;
  }

}



.section-four .icon-decorator{
  position: absolute;
  animation: iconDecoration 5s linear infinite;
  transition: 5s ease-in-out;
}

@keyframes iconDecoration{
  0%{
      transform: scale(0) translateY(0) rotate(0);
      opacity: 0;
  }

  20%,50%{
      opacity: 1;
  }
  100%{
      transform: scale(1) translateY(100px) rotate(360deg);
      opacity: 0;
  }
}



.section-four .birthday-cake{
  position: absolute;
  display: flex;
  /* Center vertically and horizontally */
  /* margin: 0 auto; */
  z-index: 1;
  width: 400px;
  height: 400px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.birthday-cake .img-cake{
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid white;  */
  /* transition: 0.5s all; */
  /* animation: jump 1.5s ease-in-out infinite; */
}


.img-cake .img{
  position: absolute;
  object-fit: cover;
}

.img-cake .box-cake{
  width: 230px;
  height: 330px;
  background: url(../img/birthday-new.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 10%;
  visibility: visible;
  transition: 0.15s ease-in-out;
}

.velas.fire-4{
  animation: 0s ease 0s 1 normal none running none;
  position: absolute;
  left: 190px;
  top: 54px;
  transform: none;
}

.velas.fire-4 .fuego{
  transform: none;
}


/* cake is animated img */
/* .img-cake .box-cake .cake{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.img-cake .none{
  display: none;
  transition: 0.15s ease-in-out;
}


.img-cake .gift1{
  width: 85px;
  height: 91px;
  left: 4%;
  /* bottom: 35%; */
  bottom: 22%;
  animation: jumpGift1 3s ease-in-out infinite;
}






.img-cake .gift2{
  width: 65px;
  height: 65px;
  right: 5%;
  bottom: 10%;
  animation: jumpGift2 2.5s ease-in-out infinite;
}




.img-cake .balloon{
  width: 140px;
  height: 191px;
  right: 0%;
  top: 0;
  transform: rotateZ(5deg);
}




.section-four .name-section{
  position: absolute;
  font-family: ArchivoBlack;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: var(--main-color);
}

.name-birth{
  display: flex;
}

.words {
  margin-left: 40px;
  color: var(--main-color);
  font-size: 0;
  line-height: 1.5;
}

.words:nth-child(1){
  margin: 0;
}

.words span {
  font-size: 3rem;
  /* text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */

  /* text-shadow: 1px 0 0 #fff;  */
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

.words span:nth-child(8) {
  animation-delay: 3.5s;
}

.words span:nth-child(9) {
  animation-delay: 4s;
}

.words span:nth-child(10) {
  animation-delay: 4.5s;
}

.words span:nth-child(11) {
  animation-delay: 5s;
}

.words span:nth-child(12) {
  animation-delay: 5.5s;
}

.words span:nth-child(13) {
  animation-delay: 6s;
}

.words span:nth-child(14) {
  animation-delay: 6.5s;
}



/* section-four end */



::-webkit-scrollbar{
    display: none;
}

/* 
.section-two{
  display: none;

} */

.content .section-three{
  background-color: #ee9ca7;
}


.ab-3{
  animation: RightToCenter 3s forwards;
}

.ab-2{
  animation: CenterToLeft 3s forwards;
}

.go-left{
  position: absolute;
  width: 74px;
  height: 40px;
  margin-left: 25px;
  margin-top: 25px;
  cursor: pointer;
}

.section-two .img-box.active{
  animation: imgbox 20s linear infinite;
  /* bottom 20s ease-in-out forwards; */
}

/* ================================================ */

.firework {
  position: absolute;
}

.firework i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 5px;
  height: 10px;
  background: red;
  opacity: 0;
}

.part{
  animation: bang 700ms ease-out forwards ;
  opacity: 0;
  animation-delay: 5s;
}


@keyframes bang {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
